.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    background-image: url('./images/quiz.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.container{
   height: 70%;
   width: 60%;
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.top{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.timer{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid black;
    position:absolute;
    bottom: 1px;
    margin: 10px;
    background-color: #87e6fc;
    color: black;
}
.score{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius:20px;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: #87e6fc;
    border: 2px solid white;
}
.questionNumberText{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius:20px;
    font-size: larger;
    font-weight: bolder;
      color: white;
      background-color: black;
    border: 2px solid white;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
}
.prev button{
    background-color:#27a1e4;
}
.next button{
    background-color: #27a1e4;
}
.submit button{
    background-color:#27a1e4;
}
.questions{
    width: 50%;
    padding: 20px;
    background-color: #87e6fc;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    font-size: large;
}
.answers{
    width: 54%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;  
}
.options{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #87e6fc;
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: large;
}
.options:hover{
    background-color:#27a1e4;
    cursor: pointer;
}
.options.correct{
    animation : correct 2s ease forwards;
}

 @keyframes correct{
    0%,22%,42%{
        background-color:black;
    }
    20%,40%,60%{
        background-color:#27a1e4;
    }
    60%,100%{
     background-color: rgb(13, 226, 13);
    }
 }

 .options.wrong{
    animation : wrong 2s ease forwards;
}

 @keyframes wrong{
    0%,22%,42%{
        background-color:black;
    }
    20%,40%,60%{
        background-color:#27a1e4;
    }
    60%,100%{
     background-color: rgb(222, 66, 66);
    }
 }

 button{
   font-size: larger;
   padding: 10px;
   margin: 10px;
   background-color:#88e5fb;
   border-radius: 15px;
   cursor: pointer;
   
}
button:hover{
   background-color:#95ddf3;
}
.button{
    display: flex;
    width: 55%;
   justify-content:space-between;
   align-items: center;
   
}

@media screen and (max-width:815px){
    .options{
        width: 90%;
    }
    .questions{
        width: 80%;
        position: relative;
        top: -70px;
    }
    .answers{
        width: 90%;
        position: relative;
        top: -70px;
    }
    .score{
        display: none;
    }
    .questionNumberText{
        display: none;
    }
    .timer{
        position:absolute;
        top: 10px;
    }
    .button{
        position:relative;
        bottom:5rem;
    }
    
}