.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    background-image: url('./images/quizappback.webp');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.container{
   height: 70%;
   width: 60%;
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.top{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.timer{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 20px;
    color: #fff;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid white;
    position:absolute;
    bottom: 1px;
    margin: 10px;
    background-color: black;
    color: white;
}
.score{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius:20px;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: black;
    border: 2px solid white;
}
.questionNumberText{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius:20px;
    font-size: larger;
    font-weight: bolder;
      color: white;
      background-color: black;
    border: 2px solid white;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
}
.prev button{
    background-color: blueviolet;
}
.next button{
    background-color: blueviolet;
}
.submit button{
    background-color:green;
}
.questions{
    width: 50%;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    font-size: large;
}
.answers{
    width: 54%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;  
}
.options{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    font-size: large;
}
.options:hover{
    background-color:blue;
}
.options.correct{
    animation : correct 3s ease forwards;
}

 @keyframes correct{
    0%,22%,42%{
        background-color:black;
    }
    20%,40%,60%{
        background-color:blue;
    }
    60%,100%{
     background-color: rgb(13, 226, 13);
    }
 }

 .options.wrong{
    animation : wrong 3s ease forwards;
}

 @keyframes wrong{
    0%,22%,42%{
        background-color:black;
    }
    20%,40%,60%{
        background-color:blue;
    }
    60%,100%{
     background-color: red;
    }
 }

 button{
   font-size: larger;
   padding: 10px;
   margin: 10px;
   background-color: #fff;
   
}
.button{
    display: flex;
    width: 55%;
   justify-content:space-between;
   align-items: center;
   
}