.instruction{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/instructionback.jpg');
    background-repeat: no-repeat;
    background-size:100vw 100vh;
}

.instructionContainer{
    background-color:#105694;
    display: flex;
    justify-content: center;
    padding-left:30px;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    border: 3px solid white;
}
.heading h1{
    color: brown;
}

p{
    color: white;
    font-size: x-large;
    line-height: 5px;
}

.startQuizText{
position: absolute;
bottom: 5px;
right: 40%;
background-color:#87d2ec;
border-radius:20px ;
}

@media screen and (max-width:815px){
    p{
        line-height: 20px;
    }
    .instructionContainer{
        width: 80%;
    }
}
