body{
    margin: 0;
    overflow-x:hidden;
}
.app{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.main{
    height: 100%;
    width: 75%;
    background-image:url("./images/quiz-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.top{
    height: 50%;
    color: white;
    font-size: xx-large;
    font-weight: 700;
    position: relative;
   
}
.timer{
    width: 70px;
    height: 70px;
    border: 4px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 100px;
}
.bottom{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.scoreCard{
    height: 100%;
    width: 25%;
    color: white;
    background-color:#030231;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:x-large;

}
.correct{
     height: 10%; 
     width: 20%;
     margin-bottom: 20px;
     border-radius: 50%;
     border: 3px solid white;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: green;
}
.wrong{
    height: 10%; 
    width: 20%;
    margin-bottom: 20px;
     border-radius: 50%;
     border: 3px solid white;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: red;
}
.totalScore{
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.scored{
    height:40px;
    font-size: 20px;
    font-weight: 900;
    
}

.moneyItemList{
    list-style: none;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 70%;
    margin-top:3px; 
    border-radius: 40px;
}
.moneyItemList.active{
    background-color: green;
}
.moneyItemAmount{
    margin-left: 30px;
}