.result{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.resultContainer{
    height: 80%;
    width: 60%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.congratulationText{
    text-align: center;
    
}
 h1{
     color: aliceblue;
}
.resultScore{
    text-align: center;
    
}
 h2{
     color: aliceblue;
}
.restart{
    height: 30%;
    color: white;
    padding: 10px;
}

@media screen and (max-width:815px){
.resultContainer{
    width: 92%;
}
}