.result{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.resultContainer{
    height: 60%;
    width: 30%;
    background-color:rgb(137,218,245,.4);
    box-shadow: rgb(242,135,140);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.congratulationText{
    text-align: center;
    
}
 h1{
     color: aliceblue;
}
.resultScore{
    text-align: center;
    
}
 h2{
     color: aliceblue;
}
.restart{
    height: 30%;
    color: #27a1e4;
    padding: 10px;
}

@media screen and (max-width:815px){
.resultContainer{
    width: 92%;
}
}